@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fira+Code&display=swap');

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--index-x: calc(1vw + 1vh);
}
body{
	background-color: #B5BECB;
}
.wrapper {
	max-height: 100%;
	max-width: 100%;

	font-family: 'Acme', sans-serif;
	font-family: 'Fira Code', monospace;
}