@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fira+Code&display=swap');

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--index-x: calc(1vw + 1vh);
}
body{
	background-color: #B5BECB;
}
.wrapper {
	max-height: 100%;
	max-width: 100%;

	font-family: 'Acme', sans-serif;
	font-family: 'Fira Code', monospace;
}
/*Content*/

/*header*/
.header{
	width: 100%;
	height: 92vh;
	
	display: flex;
	flex-direction: column;

	background: linear-gradient(#B5BECB, 91vh, #2c2c2c98);
}
/*image_header*/
.image__header{
	height: 45vh;
	padding-top: 8vh;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.image__header_name{
	font-size: calc(var(--index-x) * 1.8);
	color: #fff;
	letter-spacing: calc(var(--index-x)*.15);
}
.image__header_img {
	width: calc(var(--index-x)*10);
}
/*status__weather*/
.status__weather{
	width: 100%;
	height: 18vh;
	padding: 0 10vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.status__weather_text{
	color: #fff;
	font-weight: 400;
	font-size: calc(var(--index-x) * .8);
	letter-spacing: calc(var(--index-x)*.03);
}
/*form__header*/
.from__header{
	padding-top: calc(var(--index-x)*1.5);
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form__header_input{
	border-radius: 20px;
	text-align: center;
	padding: calc(var(--index-x)*.5) calc(var(--index-x)*.7);
	font-size: calc(var(--index-x)*.8);

	outline:none;
	appearance: none;
	border: none;

	background-color: #B5BECB;
	color: #fff;
	-webkit-box-shadow: 1px 7px 7px -1px rgba(0, 0, 0, 0.274);
	-moz-box-shadow: 1px 7px 7px -1px rgba(0, 0, 0, 0.274);
	box-shadow: 1px 7px 7px -1px rgba(0, 0, 0, 0.274);
}
.form__header_button{
	margin-left: calc(var(--index-x)*1);

	outline: none;
	border: none;
	background: transparent;

	cursor: pointer;
}
.form__header_button svg {
	width: calc(var(--index-x)*1.1);
	height: calc(var(--index-x)*1.1);
}
.form__header_button svg path{
	fill: #fff;
}
::placeholder {
	color: rgba(255, 255, 255, 0.5);
	font-size: calc(var(--index-x)*.7)

}

/*works*/
.works{
	display: flex;
	max-width: 100vw;

	margin-bottom: calc(var(--index-x)*4);
}
.works-col{
	flex: 1 1 0;
}
.works-item{
	position: relative;
	background-color: #B5BECB;
	/*background-image: linear-gradient(to bottom, rgb(37, 53, 110), rgb(217, 145, 152));*/
}
.works-item:hover .works-img{
	opacity: .1;
}
.works-item:hover .works-info{
	opacity: 1;
}
.works-img{
	display: block;
	transition: all .7s;

	max-width: 100%;
	height: auto;
}

.works-info{
	width: 100%;

	top: 50%;
	left: 0;
	color: #fff;
	opacity: 0;

	padding: 0 15px;
	text-align: center;
	position: absolute;
	transform: translate3d(0, -50%, 0);
	transition: all .5s;
}
.works-text{
	font-size: 15px;
	font-style: italic;
	font-weight: 300;
}


/*footer*/
.footer{
	background-color: #2C2C2C;
	padding-top: calc(var(--index-x)*3);

	font-family: 'Acme', sans-serif;
	font-family: 'Fira Code', monospace;
}
.footer__column{
	display: grid;
	grid-template-areas: "one log two";
	grid-template-columns: 2fr 1fr 2fr;

	justify-content: center;
}

.footer__column_1{
	grid-area: one;
	display: flex;
	justify-content: space-around;
	padding-left: calc(var(--index-x)*5);
}
.footer__column_img{
	grid-area: log;
	display: flex;
	align-items: center;
	justify-self: center;
}
.footer__column_2{
	grid-area: two;
	margin: auto 0;
	padding-left: calc(var(--index-x)*5);
}

.footer__column_1_1{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(var(--index-x)*4.5);
}
.text_glav_one{
	color: #ffffff;
	font-size: calc(var(--index-x)*.6);
}
.text_glav_one_2{
	margin-bottom: var(--index-x);
}

.text_glav_one_number{
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.text_glav_one_icon {
	width: 35%;
	display: flex;
	justify-content: space-between;
}
.text_glav_one_icon svg {
	height: calc(var(--index-x)*.85);
	width: calc(var(--index-x)*.85);
}
.text_glav_one_icon svg path{
	fill: #fff;
}

.footer__text_column{
	text-decoration: none;
	color: #fff;
	font-size: calc(var(--index-x)*.5);
}

.footer__br{
	margin-top: var(--index-x);
	width: 100%;
	height: 1px;
	background-color: #555555;
}

/*footer-footer*/
.footer__footer{
	width: 100%;

	padding: calc(var(--index-x)*.7);
	text-align: center;
}

.footer__footer_text{
	font-size: calc(var(--index-x)*.43);
	color: rgba(255, 255, 255, 0.5);
	font-weight: 400;
}